@page "/"

<link href="/css/index.css" rel="stylesheet" />

<div class="banner">
    <div class="banner-desc-box">
        <h1 class="banner-title">Beach Pup</h1>
        <p class="banner-desc">A dog's favorite creative agency'</p>
    </div>
    <div class="banner-image">
        <img src="../finny.jpg" alt="finn at the beach" />
    </div>
</div>






@code {


}
