@page "/movies"
@inject HttpClient Http

<link href="/css/Movie.css" rel="stylesheet" />

<div class="header">
    <h1>Movies</h1>
    <p>Some of the latest and greatest movies out there folks</p>
</div>

<ul>
    <div class="film-container">
        @foreach (var film in films)
        {
            if (film == null)
            {
                <div class="loader">
                    <h2>Loading...</h2>
                </div>
            }
            else
            {
            <li>
                <div class="data-container">
                    <div class="data-title">
                        <h2>@film.Name</h2>
                    </div>
                    <div class="data-synopsis">
                        <p>@film.Synopsis</p>
                    </div>
                </div>
            </li>
            }
        }
    </div>
</ul>

@code {
    // Create field that is an array of film objects
    private Film[]? films;

    // Gets the data from the json file based on the API. Converts to array of film objects which we can then iterate over and display. 
    protected override async Task OnInitializedAsync()
    {
        films = await Http.GetFromJsonAsync<Film[]>("sample-data/movie.json");
    }

    // Public film class with the fields Name and Synopsis that are both string types. 
    public class Film
    {
        public string? Name { get; set; }
        public string? Synopsis { get; set; }
    }

}

