
<link href="/css/NavMenu.css" rel="stylesheet" />


<div class="nav-container">
    <h1>PXL</h1>
    <div class="nav-right">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <p class="nav-item">Home</p>
        </NavLink>
        <NavLink class="nav-link" href="/projects" Match="NavLinkMatch.All">
            <p class="nav-item">Projects</p>
        </NavLink>
        <NavLink class="nav-link" href="/movies">
            <p class="nav-item">Movies</p>
        </NavLink>
        <a href="https://github.com/mkettel/pxl-build/tree/master" target="_blank" class="nav-link">Github</a>
    </div>
</div>

@code {

}

