body {
}

.header {
    margin-bottom: 20px;
}
.header p {
    font-size: 18px;
}

.film-container {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.data-container {
    display: flex;
    flex-direction: column;
}
.data-container .data-title h2 {
    margin-bottom: 0px;
}
