body {
}

.header {
    margin-bottom: 20px;
}
.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
    .project-container .project-item {
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #00b4d8;
        transition: 3s;
        cursor: pointer;
    }
        .project-container .project-item:hover {
            background-color: #0077b6;
            transition: .3s;
           
        }   
    .project-container .project-item h3 {
        color: #03045e;
    }
    .project-container .project-item p {
        color: #caf0f8;
    }

